---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.page-heading h1 {
   font-size: 1.5em;
}

.home {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.home h2
{
   font-size: 1em;
   grid-column-start: span 2;
}

.home ul {
   margin-left: 0;
}

.home li {
   list-style-type: none;
}
